Agnostic.IoC.UnitTests/bin/
Agnostic.IoC.UnitTests/obj/
Agnostic.IoC.Windsor/bin/
Agnostic.IoC.Windsor/obj/
Agnostic.IoC.Autofac/bin/
Agnostic.IoC.Autofac/obj/
Agnostic.IoC/obj/
Agnostic.IoC/bin/
*.suo
Agnostic.IoC.Unity/bin/
Agnostic.IoC.Unity/obj/
*.user
Agnostic.IoC.StructureMap/bin/
Agnostic.IoC.StructureMap/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Agnostic.IoC.StructureMap/obj/
Agnostic.IoC.Ninject/bin/
Agnostic.IoC.Ninject/obj/
